---
export interface Props {
  post: any;
}

const { post, number } = Astro.props;

const formattedDate = new Date(post.date).toString().match(/[A-z]{3}\s\d+\s\d+/)
---
<article class="post-preview">
  <header>
    <a href={post.url}>
      <h2 class="title">
        <span class="post-number">{number}. </span>
        <span class="post-title">{post.title}</span>
      </h2>
    </a>
    <h3 class="publish-date">{formattedDate}</h3>
  </header>
  <p>{post.description}</p>
</article>

<style>
.content :global(main > * + *) {
  margin-top: 1rem;
}

.post-preview {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}

header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}

.post-number {
  font-size: 60%;
  margin-right: 1rem;
  width: 1rem;
  display: inline-block;
  position: absolute;
  top: .675em;
  left: 0;
}

.post-title {
  display: block;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}

.publish-date {
  margin: 0.5rem 0 0 2rem;
}

.title {
  font-size: 2.25rem;
  font-weight: normal;
  color: var(--theme-text);
  position: relative;
  padding-left: 2rem;
}
</style>
